<!-- components/containers.html -->
<div id="containersContainer" class="mt-4" style="display:none;">
    <h3>Контейнеры на сервере: <span id="containersServerName"></span></h3>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Container ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>Status</th>
          <th>CPU %</th>
          <th>Memory Usage</th>
        </tr>
      </thead>
      <tbody id="containers-body"></tbody>
    </table>
  </div>
  