<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Server Stats</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <div class="container">
    <h1 class="text-center">Server Statistics</h1>

    {% include "components/table.html" %}
    {% include "components/charts.html" %}
    {% include "components/containers.html" %}
    {% include "components/gitlab_runner.html" %}

  </div>
  <script type="module" src="static/js/main.js"></script>
</body>
</html>